<a href="https://colab.research.google.com/github/Mark-Jeonel-Kenn-Gob/VDA-CPE031-CPE21S4/blob/main/Exercise_2_(VDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Example 1

In [2]:
import pandas

mydataset={
    'animals':["Cat","Dog","Rabbit"],
    'height':[13,17,8]
}

myvar=pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

#Example 2

In [4]:
import pandas as pd

a=[1, 7, 2]

myvar=pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [6]:
import pandas as pd

a=[1.5, 7.5, 2.5]

myvar=pd.Series(a)

print(myvar[0])

1.5

#Example 3
Create a DataFrame from two Series:

In [7]:
import pandas as pd

data={
    "age":[42,38,39],
    "weight":[50,40,45]
}

myvar=pd.DataFrame(data)

print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

In [13]:
import pandas as pd

data={
    "age":[42,38,39],
    "weight":[50,40,45]
}

myvar=pd.DataFrame(data)

print(myvar.loc[0])

   age  weight
0   42      50
1   38      40
2   39      45

In [14]:
import pandas as pd

data={
    "age":[42,38,39],
    "weight":[50,40,45]
}

myvar=pd.DataFrame(data)

print(myvar.loc[[0,1,2]])

   age  weight
0   42      50
1   38      40
2   39      45

In [20]:
import pandas as pd
#series using dataframes
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])

dframe = pd.DataFrame([s1,s2,s3])
print(dframe)

   0  1   2
0  0  4   8
1  1  5   9
2  2  6  10

#Example 4

In [23]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])

dframe = pd.DataFrame([s1,s2,s3])
print(dframe.drop(0))

   0  1   2
0  2  6  10
1  3  7  11
2  4  8  12

In [44]:
import pandas as pd
#series using data frames
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1,s2,s3,s4])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

In [28]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1,s2,s3])
result = pd.concat([dframe, pd.DataFrame([s4])], ignore_index=True)
print(result)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

#Example 5

In [32]:
import pandas as pd

#creating multi-dimensional table
dframe = pd.DataFrame(index=[0,1,2], columns=[0,1,2])
print(dframe)

     0    1    2
0  NaN  NaN  NaN
1  NaN  NaN  NaN
2  NaN  NaN  NaN

In [40]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame(index=[0,1,2], columns=[0,1,2,3])
dframe[0] = s1
dframe[1] = s2
dframe[2] = s3
dframe[3] = s4
print(dframe)

   0  1   2   3
0  0  1   2   5
1  4  5   6  10
2  8  9  10  15