<a href="https://colab.research.google.com/github/jeonnel/VDA-CPE031-CPE21S4/blob/main/Exercise_No_1(VDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1**

#  1. Variables and Data Types

In [ ]:
#Numbers
varNum = 123
pi = 3.14159

In [ ]:
#Strings
varString = "Hello World!"
varText = "This is a string"

In [ ]:
#Lists
varList = ["abc", 123]

In [ ]:
#Tuples
varTuple = ("abc", 123, "HELLO")

In [ ]:
#Dictionaries
var= 3
varDict = {'first':1, '2': '2nd', 3:var}

varDict = {}
varDict['first'] = 1
varDict['2'] = '2nd'
varDict[3] = var

#  2. Arithmetic

In [ ]:
#ARITHMETIC

#Addition
a = 5+3
print (a)

8

In [ ]:
#Subtraction
a = 5-3
print (a)

2

In [ ]:
#Multiplication
a = 5*3
print (a)

15

In [ ]:
#Exponent
a = 5**3
print (a)

125

In [ ]:
#Division
a = 5/3
print (a)

a = 5%3
print (a)

a = 5//3
print (a)

1.6666666666666667
2
1

In [ ]:
#Increment/Decrement
a = 5
a += 1
print (a)

6

In [ ]:
#Decrement
a = 5
a -= 1
print (a)

4

In [ ]:
#String Concatenation
a = 'Hello ' + 'World!'
print (a)

Hello World!

In [ ]:
#Complex Expressions
a = 3+5-6*2/4
print (a)

5.0

#  3. Control Statements and Data Structures

In [ ]:
#CONDITIONAL STATEMENTS

#Boolean Conditions
x = True

if x:
  print ("var x is True")
else:
  print ("var x is False")
print ('')

var x is True

In [ ]:
#String Conditions
x = "Hello World!"

if x == 'Hello World!':
  print ("var x is Hello World!")
else:
  print ("var x is not Hello World!")
print ('')

var x is Hello World!

In [ ]:
#Numerical Conditions
x = 10

if x == '10':
  print ("var x is a string")
elif x == 10:
  print ("var x is an integer")
else:
  print ("var x is none of the above")

var x is an integer

#  4. Loops

In [ ]:
#For Loops
for var in range (0,5,2):
  print (var)
print ('')

0
2
4

In [ ]:
#While Loops
var = 0
while var < 5:
  print (var)
  var += 2

0
2
4

In [ ]:
#Nested Loops
x = 0
while x < 5:
  for y in range (0,x):
    print (y, end='')
  x += 1
  print ('')

#Note: The loop declaration ends with a colon (:) while its contents inside are indented

0
01
012
0123

#  5. Lists

In [ ]:
#Can contain a number of values comprised of different datatypes

pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print (varList[0])

print (varList[4])

varList.append('World!')
print (varList[6])

print (len(varList))

print(varList[5])

varList.remove(pi)
print(varList[5])

1
Hello!
World!
7
3.14159
World!

#  6. Dictionaries

In [ ]:
var = "Hello World!"
varDict = {'first': 123, 2 : 'abc', '3' : var, 4 : ['lista', 'listb']}
print (varDict['first'])

print (varDict[2])

print (varDict['3'])

print (varDict[4])

print (varDict[4][1])

len(varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

#  7. List Generators and Comprehension

In [ ]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

varList = range(0, 5, 2)
print([var for var in varList])

[0, 1, 2, 3, 4]
[0, 2, 4]
[0, 2, 4]

#  8. Slicing

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

print(varList[5:])

print(varList[:-2])

print(varList[-2:])

print(varList[2:-2])

print(varList[2:8:2])

"""
Note:
list(start:)
list(:end)
list(start:end)
list(start:end:step)
"""

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]

#  9. Functions

In [ ]:
"""
Python functions us the ff. notation:
def function_name:
  commands
"""

def reminder(n,m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

reminder(10, 4)

2